<h1>Sinatra To-Do!</h1>

<div class="to-do-list">
  <ul>
    <% @to_dos.each do |item| %>
      <li>
        <b>To-do:</b> <%= item.description %></br>
        <b>Due:</b> <%= item.due_date %></br>
        <form action="/to_dos/<%= item.id %>/edit" method="get">
          <input type="submit" value="Edit">
        </form>
        <form action="/to_dos/<%= item.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete">
        </form>
      </li>
    <% end %>
  </ul>
</div>

<form action="/to_dos/new" method="get">
  <input type="submit" value="Add To-do Item">
</form>
