<h1>New To-Do Item</h1>

<form action="/to_dos" method="post">
  <input type="text" name="description" placeholder="What to do?">
  <input type="text" name="due_date" placeholder="And by when?">
  <input type="submit" value="Update Item">
</form>
